<div class="right">
  <% unless user_signed_in? %>
    <div class="buttons-desktop">
      <%= button_to "Login", new_user_session_path, method: :get, class:'button'  %>
      <%= button_to "Sign up", new_user_registration_path, method: :get, class: "button button--submit", id: 'sign-up' %>
    </div>
  <% end %>
  <div id="dropdown-avatar">
    <sl-dropdown>
      <sl-avatar
      slot="trigger"
      image="<%= avatar_url_for(current_user) %>"
      label="user_avatar"
      style="--size: 32px;">
      </sl-avatar>
      <sl-menu>
        <% if user_signed_in? %>
          <%= link_to edit_user_registration_path do %>
            <sl-menu-item>Edit Profile</sl-menu-item>
          <% end %>
          <%= button_to destroy_user_session_path, method: :delete do %>
            <sl-menu-item>Sign Out</sl-menu-item>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <sl-menu-item>Login</sl-menu-item>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <sl-menu-item>Sign Up</sl-menu-item>
          <% end %>
        <% end %>
      </sl-menu>
    </sl-dropdown>
  </div>
</div>
