<div class="right" data-controller="dark-mode drawer">
  <sl-drawer no-header
              id="mobile-drawer-top"
              label="Drawer"
              placement="top"
              class="drawer-placement-top"
              style="--size: 100%; --body-spacing: 0 12px;"
              data-drawer-target="drawer">
    <div style="display: flex; align-items: center">
      <sl-icon-button name="chevron-left" id="search-close" data-action="click->drawer#hide"></sl-icon-button>
      <%= render "shared/header/search", id: "mobile-search" %>
    </div>
  </sl-drawer>
  <sl-icon-button name="search" id="mobile-search-icon" data-action="click->drawer#show"></sl-icon-button>
  <sl-icon-button name="sun"
                    label="Dark Mode"
                    style="font-size: 18px;"
                    data-dark-mode-target="switch"
                    data-action="click->dark-mode#toggle">
  </sl-icon-button>
  <%# <sl-icon-button name="bell" label="Notifications" style="font-size: 18px"></sl-icon-button> %>
  <div id="mobile-login" class="login">
    <div id="dropdown-avatar">
      <sl-dropdown>
        <sl-avatar
      slot="trigger"
      image="<%= avatar_url_for(current_user) %>"
      label="user_avatar"
      style="--size: 32px;">
        </sl-avatar>
        <sl-menu>
          <% if user_signed_in? %>
            <%= link_to edit_user_registration_path do %>
              <sl-menu-item>Edit Profile</sl-menu-item>
            <% end %>
            <%= button_to destroy_user_session_path, method: :delete, data: { turbo: false } do %>
              <sl-menu-item>Sign Out</sl-menu-item>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <sl-menu-item>Login</sl-menu-item>
            <% end %>
            <%= link_to new_user_registration_path do %>
              <sl-menu-item>Sign Up</sl-menu-item>
            <% end %>
          <% end %>
        </sl-menu>
      </sl-dropdown>
    </div>
  </div>
  <div id="desktop-login" class="login">
    <% if !user_signed_in? %>
      <%= button_to "Login", new_user_session_path, method: :get, class:'button'  %>
      <%= button_to "Sign up", new_user_registration_path, method: :get, class: "button button--submit", id: 'sign-up' %>
    <% end %>
    <% if user_signed_in? %>
      <div id="dropdown-avatar">
        <sl-dropdown>
          <sl-avatar
            slot="trigger"
            image="<%= avatar_url_for(current_user) %>"
            label="user_avatar"
            style="--size: 32px;">
          </sl-avatar>
          <sl-menu>
            <% if user_signed_in? %>
              <%= link_to edit_user_registration_path do %>
                <sl-menu-item>Edit Profile</sl-menu-item>
              <% end %>
              <%= button_to destroy_user_session_path, method: :delete, data: { turbo: false } do %>
                <sl-menu-item>Sign Out</sl-menu-item>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <sl-menu-item>Login</sl-menu-item>
              <% end %>
              <%= link_to new_user_registration_path do %>
                <sl-menu-item>Sign Up</sl-menu-item>
              <% end %>
            <% end %>
          </sl-menu>
        </sl-dropdown>
      </div>
    <% end %>
  </div>
</div>
