<%= turbo_frame_tag channel, class: "row", style: "padding-bottom: 10px; align-items: center; gap: 10px;" do %>
  <div id=<%= "channel_#{channel.channel_id}_thumbnail" %>>
    <% if channel.thumbnail_url %>
      <%= image_tag channel.thumbnail_url %>
    <% end %>
  </div>
  <div>
    <%= channel.title %>
    <%= channel.channel_id %>
    <%= channel.active %>
    <%= "#{channel.videos_count} videos" %>
  </div>
  <div class="row" style="align-items: center;">
    <%# if action_name != "show" %>
    <%= link_to edit_channel_path(channel) do %>
      <sl-icon name="pencil-square"></sl-icon>
    <% end %>
    <%= button_to channel_path(channel), method: :delete do %>
      <sl-icon name="trash" style="color: white;"></sl-icon>
    <% end %>
    <%# end %>
  </div>
<% end %>
