<div class="filter-container isHidden" data-toggle-target="filter" id="filter-container">
  <%= turbo_frame_tag 'slow-frame', class: "filter-container-upper" do %>
    <div class="filters">
      <%= render partial: "videos/index/filter-sorting/filters/filter", locals: { options: @search.genres, title: :genre, id: 'genre-filter', width: "150px" } %>
      <%= render partial: "videos/index/filter-sorting/filters/filter", locals: { options: @search.leaders, title: :leader, id: 'leader-filter', width: "250px" } %>
      <%= render partial: "videos/index/filter-sorting/filters/filter", locals: { options: @search.followers, title: :follower, id: 'follower-filter', width: "250px" } %>
      <%= render partial: "videos/index/filter-sorting/filters/filter", locals: { options: @search.orchestras, title: :orchestra, id: 'orchestra-filter', width: "250px" } %>
      <%= render partial: "videos/index/filter-sorting/filters/filter", locals: { options: @search.years, title: :year, id: 'year-filter', width: "150px" } %>
    </div>
  <% end %>
</div>
