<div class="filter-header">
  <div class="filter-container-button-results">
    <%= button_tag type: 'button', data: { action: "click->toggle#toggleFilter",
                                            "toggle-target": "filterButton"},
                                              class: "button" do %>
      <%= fa_icon "filter", left: true %>Filter
    <% end %>
    <%= button_tag type: 'button', data: { action: "click->toggle#toggleSorting",
                                            "toggle-target": "sortingButton"},
                                              class: "button" do %>
      <%= fa_icon "filter", left: true %>Sort
    <% end %>
    <div id="filter_results">
      <% if filtering_params.present? %>
        <%= "#{pluralize(number_with_delimiter(@search.videos.size), "Result")} Found" %>
      <% end %>
    </div>
  </div>
  <%= button_tag type: "button",
                          class: "button",
                          data: { controller: "filter",
                          action: "filter#filter",
                                  "filter-clear-value": "1" } do %>
    Clear
  <% end %>
</div>
