<div id="menu-sorting-filters" class="sorting-container"  data-toggle-target="sorting">
  <sl-menu-label>Sort By</sl-menu-label>
  <sl-menu-item>
    <%= sortable 'videos.performance_date', "desc",  "Recent First", @sort_column, @sort_direction %>
  </sl-menu-item>
  <sl-menu-item>
    <%= sortable 'videos.performance_date', "asc", "Oldest First", @sort_column, @sort_direction %>
  </sl-menu-item>
  <sl-menu-item>
    <%= sortable "videos.view_count", "desc",  "Most Viewed", @sort_column, @sort_direction %>
  </sl-menu-item>
  <sl-menu-item>
    <%= sortable "videos.popularity", "desc",  "Trending", @sort_column, @sort_direction %>
  </sl-menu-item>
  <sl-menu-item>
    <%= sortable "videos.like_count", "desc",  "Most Liked", @sort_column, @sort_direction %>
  </sl-menu-item>
  <sl-menu-label>Group By</sl-menu-label>
  <sl-menu-item>
    <%= sortable 'song.title', "asc", "Song", @sort_column, @sort_direction %>
  </sl-menu-item>
  <sl-menu-item>
    <%= sortable 'song.orchestra', "asc",  "Orchestra", @sort_column, @sort_direction %>
  </sl-menu-item>
  <sl-menu-item>
    <%= sortable 'channels.title', "asc",  "Channel", @sort_column, @sort_direction %>
  </sl-menu-item>
  <sl-menu-item>
    <%= sortable 'performance_videos.performance_id', "asc",  "Performance", @sort_column, @sort_direction %>
  </sl-menu-item>
</div>
