<sl-card class="couple__card" id="<%= dom_id couple %>">
  <%= link_to couple do %>
    <div style="position: relative; height: 300px; width: 450px;">
      <%= image_tag dancer_avatar(couple.dancer.id), style: "position: absolute; top: 0; left: 0;" %>
      <%= image_tag dancer_avatar(couple.partner.id), style: "position: absolute; top: 0; left: 200px;" %>
    </div>
  <% end %>
  <div class="couple__body">
    <%= "#{couple.dancer.name} & #{couple.partner.name}" %>
  </div>
  <%= "#{couple.videos_count} Videos" %>
</sl-card>
