<p style="color: green"><%= notice %></p>
<%= render @couple %>
<div>
  <%= link_to "Back to couples", couples_path %>
  <% if current_user&.admin? %>
    <%= link_to "Edit this couple", edit_couple_path(@couple) %> |
    <%= button_to "Destroy this couple", @couple, method: :delete %>
  <% end %>
</div>
