<div class="channels-index-container">
  <h2>All leaders</h2>
  <%= form_with model: Leader.new, local: true, class: 'channel-form' do |f| %>
    <%= f.text_field :first_name, placeholder: 'insert first name here...' %>
    <%= f.text_field :last_name, placeholder: 'insert last name here...' %>
    <%= f.submit "Add New leader" %>
  <% end %>
  <% @leaders.each do |leader| %>
    <div class="channels-index-row">
      <div class="channels-index-item" id="id">
        <%= leader.id %>
      </div>
      <div class="channels-index-item" id="title">
        <%= leader.full_name.titleize %>
      </div>
    </div>
  <% end %>
</div>
