<div
<% unless user_signed_in? %>
  data-controller="popper"
<% end %>
>
  <%= content_tag "div", id: "upvote-#{video.youtube_id}",
                        data: { "popper-target": "element",
                        action: "click->popper#show click:outside->popper#hide" } do %>
    <%= content_tag :div, id: "complete-#{video.youtube_id}" do %>
      <%= button_to complete_video_path(video.youtube_id), method: :patch do %>
        <% if current_user&.voted_up_on? video, vote_scope: 'watchlist' %>
          <sl-icon id="complete-button" name="clipboard-check-fill" style="font-size: 24px; color: var(--sl-color-gray-800);"></sl-icon>
        <% else %>
          <sl-icon id="complete-button" name="clipboard-check" style="font-size: 24px; color: var(--sl-color-gray-800);"></sl-icon>
        <% end %>
        <span style="color: var(--sl-color-gray-800)">Watched</span>
      <% end %>
    <% end %>
  <% end %>
  <div id="tooltip" class="tooltip" role="tooltip" data-popper-target="tooltip">
    Want to keep track of which videos your have seen? <br>
    Sign in to keep track. <br>
    <br>
    <div style="margin-bottom: 16px; font-size: 16px;">
      <%= link_to "Sign up",  new_user_registration_path, 'data-turbo-frame': "_top" %> or <%= link_to "Login", new_user_session_path, 'data-turbo-frame': "_top" %>
    </div>
    <div id="arrow" data-popper-arrow></div>
  </div>
</div>
