<div
<% unless user_signed_in? %>
 data-controller="popper"
<% end %>
>
  <%= content_tag "div", id: "downvote-#{@video.id}",
                          data: { "popper-target": "element",
                          action: "click->popper#show click:outside->popper#hide" } do %>
    <%= button_to downvote_video_path(@video), method: :patch,
                                              style: "display: flex; justify-content: center; align-items: center; border: none; background: none;" do %>
      <% if user_signed_in? %>
        <% if current_user.voted_down_on? @video %>
          <%= fa_icon "thumbs-down solid", text: "Dislike",
                                        style: "font-size: 30px; margin: 0 10px; border: none; background: none;" %>
        <% else %>
          <%= fa_icon "thumbs-down regular", text: "Dislike",
                                          style: "font-size: 30px; margin: 0 10px; border: none; background: none;" %>
        <% end %>
      <% else %>
        <%= fa_icon "thumbs-down regular", text: "Dislike",
                                        style: "font-size: 30px; margin: 0 10px; border: none; background: none;" %>
      <% end %>
    <% end %>
  <% end %>
  <div id="tooltip" role="tooltip" data-popper-target="tooltip">
    Dislike this video? <br>
    Sign in to make your opinion count. <br>
    <br>
    <div style="margin-bottom: 16px; font-size: 16px;">
      <%= link_to "Sign up",  new_user_registration_path, 'data-turbo-frame': "_top" %> or <%= link_to "Login", new_user_session_path, 'data-turbo-frame': "_top" %>
    </div>
    <div id="arrow" data-popper-arrow></div>
  </div>
</div>
