<div class="under-video-container">
  <div class="video-info-primary-container">
    <div class="show-video-title">
      <h1>
        <%= primary_title(@video.display.dancer_names,
                                      @video.title,
                                      @video.display.any_song_attributes,
                                      @video.youtube_id) %>
      </h1>
    </div>
    <div class="show-video-song">
      <h2>
        <%= link_to_song( @video.display.el_recodo_attributes,
                            @video.display.external_song_attributes,
                            @video) %>
      </h2>
    </div>
    <div class="show-video-event">
      <%= link_to @video.event.title.titleize,
                    root_path(event_id: @video.event.id),
                    { "data-turbo-frame": "_top" } if @video.event.present? %>
    </div>
    <div class="show-video-channel">
      <%= link_to image_tag(@video.channel.thumbnail_url,
                    class: "channel-icon"),
                    root_path(channel: @video.channel.channel_id), { "data-turbo-frame": "_top" } if @video.channel.thumbnail_url.present?  %>
      <%= link_to truncate(@video.channel.title,
                    length: 45, omission: ""),
                    root_path(channel: @video.channel.channel_id),
                    { class: "channel-title", "data-turbo-frame": "_top" } %>
    </div>
    <div class="show-video-metadata">
      <%= formatted_metadata(@video) %>
    </div>
  </div>
  <div class="share-container">
    <div style="display: flex; padding: 10px;">
      <%= render 'videos/show/upvote_link', video: @video %>
      <%= render 'videos/show/like_count', video: @video %>
      <%= render 'videos/show/downvote_link', video: @video %>
    </div>
    <div style="display: flex"
         data-controller= "clipboard"
         data-clipboard-success-content="Copied!"
         data-clipboard-video-id="<%= @video.youtube_id %>"
         data-clipboard-root-url="<%= @root_url %>"
    >
      <%= button_tag type: "button",
                          class: "button-4",
                          data: { "clipboard-target": "button",
                          action: "clipboard#copy"} do %>
        <%= fa_icon 'share', text: "Share" %>
      <% end %>
      <div style="margin: 0 6px;">
        <%= label_tag 'Start Time' %>
        <%= text_field_tag 'start_time_value', @start_value.present? ? Time.at(@start_value.to_i).utc.strftime("%_M:%S") : "", placeholder: '0:00', style: "width: 60px", data: { action: "keyup->clipboard#changeValue",
                                                              "clipboard-target": "startTime" } %>
      </div>
      <div style="margin: 0 6px;">
        <%= label_tag 'End Time' %>
        <%= text_field_tag 'end_time_value', @end_value.present? ? Time.at(@end_value.to_i).utc.strftime("%_M:%S") : "", placeholder: '0:00', style: "width: 60px", data: { action: "keyup->clipboard#changeValue",
                                                              "clipboard-target": "endTime" } %>
      </div>
      <div style="margin: auto 6px;">
        <%= select_tag :playback_speed, options_for_select( { ".25x" => "0.25" ,
                                                               ".5x" => "0.5",
                                                              ".75x" => "0.75",
                                                                 "1" => "1.0"}, @playback_speed.to_f),
                                                                 data: { action: "change->clipboard#changeValue change->youtube#update",
                                                                         "clipboard-target": "playbackSpeed",
                                                                         "youtube-target": "playbackSpeed" }, style: "font-size: 16px" %>
      </div>
    </div>
  </div>
</div>
