<div class="under-video-container">
  <div class="video-info-primary-container">
    <div class="show-video-title">
      <h1>
        <%= primary_title(@video.display.dancer_names,
                                      @video.title,
                                      @video.display.any_song_attributes,
                                      @video.youtube_id) %>
      </h1>
    </div>
    <div class="show-video-song">
      <h2>
        <%= link_to_song( @video.display.el_recodo_attributes,
                            @video.display.external_song_attributes,
                            @video) %>
      </h2>
    </div>
    <div class="show-video-event">
      <%= link_to @video.event.title.titleize,
                    root_path(event_id: @video.event.id),
                    { "data-turbo-frame": "_top" } if @video.event.present? %>
    </div>
    <div class="show-video-channel">
      <%= link_to image_tag(@video.channel.thumbnail_url,
                    class: "channel-icon"),
                    root_path(channel: @video.channel.channel_id), { "data-turbo-frame": "_top" } if @video.channel.thumbnail_url.present?  %>
      <%= link_to truncate(@video.channel.title,
                    length: 45, omission: ""),
                    root_path(channel: @video.channel.channel_id),
                    { class: "channel-title", "data-turbo-frame": "_top" } %>
    </div>
    <div class="show-video-metadata">
      <%= formatted_metadata(@video) %>
    </div>
  </div>
  <div class="share-container"
      data-controller="clipboard"
    data-clipboard-success-content="Copied!"
    data-clipboard-video-id="<%= @video.youtube_id %>"
    data-clipboard-root-url="<%= @root_url %>"
    >
    <div class="youtube-controls">
      <%= render "videos/show/vote" %>
      <sl-dropdown>
        <div slot="trigger" class="button--clip">
          <sl-icon name="scissors" style="font-size: 24px;"></sl-icon> <span>Clip</span>
        </div>
        <%= turbo_frame_tag dom_id(@clip) do %>
          <%= render "clips/form", clip: @clip %>
        <% end %>
      </sl-dropdown>
      <% if false %>
        <% if @video.clips.present? %>
          <sl-button href="<%= video_clips_path([@video, @clip]) %>" style="display: flex; flex-direction: column">
            <sl-icon name="globe"></sl-icon>  View Clips
          </sl-button>
        <% end %>
      <% end %>
    </div>
    <div class="copy-to-clipboard">
      <%= text_field_tag :url, "tangotube.tv/watch?v#{@video.youtube_id}",
                              readonly: "readonly",
                                class: "copy-to-clipboard__field",
                                data: { "clipboard-target": "source" } %>
      <%= button_tag type: "button",
                        name: "button",
                        class: "copy-to-clipboard__button button",
                        data: { "clipboard-target": "button",
                        action: "click->clipboard#copy"} do %>
        <sl-icon name="share" style="font-size: 20px"></sl-icon>
        Share
      <% end %>
    </div>
  </div>
</div>
