<%= form_with model: @video do |f| %>
  <div class="video-info-details-main">
    <div class="detail-section-label">
      <h4>Performers</h4>
    </div>
    <%= render partial: "videos/edit/video_info_detail_item_edit",
                  locals: { params_name: :leader_id,
                            id: 'leader',
                            f: f,
                            url: '/leaders.json',
                            value: @video.leader.try(:name) } %>
    <%= render partial: "videos/edit/video_info_detail_item_edit",
                  locals: { params_name: :follower_id,
                            id: 'follower',
                            f: f,
                            url: '/followers.json',
                            value: @video.follower.try(:name) } %>
    <div class="detail-section-label">
      <h4>Event Info</h4>
    </div>
    <%= render partial: "videos/edit/video_info_detail_item_edit",
                  locals: { params_name: :event_id,
                            id: 'event',
                            f: f,
                            url: '/events.json',
                            value: @video.event.try(:title) } %>
    <div class="attribute-row">
      <div class="attribute-label">
        <label>
          Date
        </label>
      </div>
      <div class="attribute-value">
        <%= f.date_field(:performance_date, :value => @video.performance_date.strftime('%Y-%m-%d') if @video.performance_date.present? ) %>
      </div>
    </div>
    <div class="attribute-row">
      <div class="attribute-label">
        <label>
          Performance Number
        </label>
      </div>
      <div class="attribute-value">
        <%= f.select(:performance_number, (1..8), { value: @video.performance_number, include_blank: true }) %>
      </div>
    </div>
    <div class="attribute-row">
      <div class="attribute-label">
        <label>
          Performance Total Number
        </label>
      </div>
      <div class="attribute-value">
        <%= f.select(:performance_total_number, (1..8), { value: @video.performance_total_number, include_blank: true }) %>
      </div>
    </div>
    <h4>Music</h4>
  </div>
  <%= render partial: "videos/edit/video_info_detail_item_edit",
                        locals: { params_name: :song_id,
                                  id: 'song',
                                  f: f,
                                  url: '/songs.json',
                                  value: @video.song.try(:title) } %>
  <div>
    <%= f.label 'hidden?' %>
    <%= f.check_box :hidden ,{}, "true", "false" %>
  </div>
  <div>
    <%= f.submit 'Update Video' %>
  </div>
  <div>
    <%= link_to 'Back', watch_path(v: @video.youtube_id) %>
  </div>
  <div class="detail-section-label">
    <h4>Video Info</h4>
  </div>
  <%= render partial: "videos/show/video_info_item",
                    locals: { header: "Title",
                    value:  @video.title } %>
  <%= render partial: "videos/show/video_info_item",
                            locals: { header: "Description",
                            value:  auto_link(simple_format(truncate(@video.description, length: 200, omission: '')), html: { target: '_blank' }) } if @video.description.present? %>
  <%= render partial: "videos/show/video_info_item",
                            locals: { header: "Upload Date",
                            value: @video.upload_date.to_formatted_s(:long) } %>
  <%= render partial: "videos/show/video_info_item",
                            locals: { header: "Duration",
                            value: Time.at(@video.duration).utc.strftime("%M:%S") } %>
<% end %>
