<%= turbo_frame_tag "#{dom_id(@video)}_vote" do %>
  <div class="like-buttons">
    <%= render "videos/show/upvote_link", video: @video %>
    <%= render "videos/show/downvote_link", video: @video %>
    <%= render "videos/show/bookmark_link", video: @video %>
    <%#= render 'videos/show/complete_link', video: @video %>
    <%= render 'videos/show/watchlist_link', video: @video %>
    <% if current_user.admin? %>
      <%= render 'videos/show/featured_link', video: @video %>
    <% end %>
  </div>
<% end %>
