<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div style="margin-top: 24px;">
    <h2>
      Sign up for an account
    </h2>
    <p style="margin-top: 4px; text-align: center; color: rgb(75, 85, 99);">
      Or
      <%- if controller_name != 'sessions' %>
        <%= link_to "Log in to your account", new_session_path(resource_name) %><br />
      <% end %>
    </p>
  </div>
  <div style="margin-top: 8px;">
    <div style="width: 428px; padding: 40px 32px; border-radius: 8px; box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div style="display: flex; flex-direction: column; gap: 10px;">
          <%= f.label :first_name %>
          <div class="mt-1 rounded-md shadow-sm">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", class:"input input--block", style: "width: 100%; padding 4px 6px;" %>
          </div>
          <div>
            <%= f.label :last_name  %>
            <div class="mt-1 rounded-md shadow-sm">
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", class:"input input--block", style: "width: 100%; padding 4px 6px;" %>
            </div>
          </div>
          <div>
            <%= f.label :email  %>
            <div class="mt-1 rounded-md shadow-sm">
              <%= f.email_field :email, autocomplete: "email", class:"input input--block", style: "width: 100%; padding 4px 6px;" %>
            </div>
          </div>
          <div>
            <%= f.label :password  %>
            <div class="mt-1 rounded-md shadow-sm">
              <%= f.password_field :password, autocomplete: "new-password", class:"input input--block", style: "width: 100%; padding 4px 6px;" %>
            </div>
          </div>
          <p class="mb-2 text-xs text-gray-500">By registering, you agree to the <%= link_to "Privacy Policy", privacy_path %> and <%= link_to "Terms & Conditions", terms_path %>
            <div>
              <%= f.submit "Sign Up", class: "button button--block button--submit", data: { turbo: false }  %>
            </div>
          <% end %>
          <div style="margin-top: 24px;">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
