<%= form_with model: [commentable, Comment.new], html: { class: local_assigns[:class],
                                                          style: local_assigns[:style],
                                                          data: { target: local_assigns[:target] } } do |form| %>
  <div class="form-group">
    <% if form.object.errors.any? %>
      <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>
    <%= form.text_area :body,
          placeholder: "Add a comment",
          class: "form-control",
          style: "width: 100%;
                  border-radius: 4px;
                  border: 1px solid #c2c2c2;
                  padding: 8px 12px;
                  color: rgb(17, 24, 39);
                  font-size: 16px;
                  max-width: 100%;" %>
  </div>
  <div class="form-group">
    <%= form.hidden_field :parent_id, value: local_assigns[:parent_id] %>
    <%= form.submit class: "button button-primary", "data-action": "click->reply#closeForm" %>
  </div>
<% end %>
