<div id="<%= dom_id clip %>">
  <div data-controller="youtube"
        data-youtube-video-id-value="<%= clip.video.youtube_id %>"
        data-youtube-start-seconds-value="<%= clip.start_seconds %>"
        data-youtube-end-seconds-value="<%= clip.end_seconds %>"
        data-youtube-playback-speed-value="<%= clip.playback_rate %>">
    <div class="video-responsive-background">
      <div class="video-responsive-container">
        <div class="video-responsive">
          <div data-youtube-target="frame"></div>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column;">
      <%= link_to "Show this clip", clip, class: "link" %>
      <%= clip.title if clip.title.present? %>
      <div style="display: flex; gap: 20px;">
        <%= "#{clip.end_seconds - clip.start_seconds}s @ #{clip.playback_rate}" %>
      </div>
      <%= clip.tags if clip.tags.present? %>
      <div class="row" style="align-items: center;">
        <%= image_tag avatar_url_for(clip.user), size: "30x30", style: "border-radius: 50%;" %><%= clip.user.name %>
      </div>
      <%= link_to "Source Video", "#{watch_path}?v=#{clip.video.youtube_id}" %>
    </div>
  </div>
</div>
