<div id="<%= dom_id clip %>">
  <div data-controller="youtube"
        data-youtube-video-id-value="<%= clip.video.youtube_id %>"
        data-youtube-start-seconds-value="<%= clip.start_seconds %>"
        data-youtube-end-seconds-value="<%= clip.end_seconds %>"
        data-youtube-playback-speed-value="<%= clip.playback_rate %>">
    <div class="video-responsive-background">
      <div class="video-responsive-container">
        <div class="video-responsive">
          <div data-youtube-target="frame"></div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; gap: 5px;">
    <%= link_to watch_path(v: clip.video.youtube_id, start: clip.start_seconds, end: clip.end_seconds, speed: clip.playback_rate) do %>
      <%= clip.title if clip.title.present? %>
    <% end %>
    <%= clip.video.song.genre.titleize if clip.video.song.present? %> <br />
    <%= clip.video.leader.full_name if clip.video.leader.present? %>
    <%= "&" if clip.video.leader.present? && clip.video.follower.present? %>
    <%= clip.video.follower.full_name if clip.video.follower.present? %>
    <div class="row" style="gap: 5px;">
      <% if clip.tags.present? %>
        <% clip.tags.split(",").each do |tag| %>
          <sl-tag variant="neutral" size="small"><%= tag.titleize %></sl-tag>
        <% end %>
      <% end %>
    </div>
    <div class="row" style="align-items: center;">
      <%#= image_tag avatar_url_for(clip.user), size: "30x30", style: "border-radius: 50%;" %><%#= clip.user.name %>
    </div>
    <%#= link_to "Source Video", "#{watch_path}?v=#{clip.video.youtube_id}" %>
    <div class="row">
    </div>
  </div>
</div>
