<%= sl_form_with(model: [@video, Clip.new], data: { turbo: false }) do |form| %>
  <div style="display: flex; flex-direction: column; gap: 10px; background-color: var(--sl-color-neutral-50); padding: 10px;">
    <% if clip.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(clip.errors.count, "error") %> prohibited this clip from being saved:</h2>
        <ul>
          <% clip.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.text_field :title, placeholder: "Title", style: 'width: 100%;' %>
    <div class="row" style="align-items: center; gap: 10px;">
      <%= form.text_field :start_seconds,
          label: "Start Time",
          value: @start_value,
          placeholder: "0s",
          style: "width: 100px;",
          data: { action: "input->clipboard#changeValue
                        input->youtube#updateStartTime",
                        "clipboard-target": "startTime",
                        "youtube-target": "startTime" } %>
      <span class="spacer">-</span>
      <%= form.text_field :end_seconds,
          label: "Start Time",
          value: @end_value,
          placeholder: "0s",
          style: "width: 100px;",
          data: { action: "input->clipboard#changeValue
          input->youtube#updateEndTime",
          "clipboard-target": "endTime",
          "youtube-target": "endTime" }  %>
      <span class="spacer">:</span>
      <div>
        <%= label_tag :rate %>
        <%= select_tag :playback_rate, options_for_select([[".25x", "0.25"],
                                        [".5x", "0.50"],
                                        [".75x", "0.75"],
                                        ["1x", "1.00"],
                                        ["1.25x", "1.25"],
                                        ["1.5x", "1.50"],
                                        ["1.75x", "1.75"],
                                        ["2x", "2.00"]], sprintf('%.2f', @playback_rate.to_i)),
                                                      data: { action: "change->clipboard#changeValue change->youtube#updatePlaybackRate",
                                                                              "clipboard-target": "playbackRate",
                                                                              "youtube-target": "playbackRate" },
                                                              hoist: "",
                                                              label: "Rate" %>
      </div>
    </div>
    <%#= form.text_field :tags, style: "width: 100%;" %>
    <% if user_signed_in? %>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
<% end %>
