<%= sl_form_with(model: [@video, clip]) do |form| %>
  <div style="display: flex; flex-direction: column; gap: 10px; background-color: var(--sl-color-neutral-50); padding: 10px; overflow: visible;">
    <% if clip.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(clip.errors.count, "error") %> prohibited this clip from being saved:</h2>
        <ul>
          <% clip.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.text_field :title, placeholder: "Title", style: 'width: 100%;' %>
    <% if user_signed_in? %>
      <label>
        Tags
      </label>
      <%= form.select :tag_list, [], {},{
      style: "width: 100%;",
      data: {
        controller: "tom-select",
        "tom-select-create-value": "true"
      }
    }
    %>
    <% end %>
    <div class="row" style="align-items: center; gap: 10px;">
      <%= form.text_field :start_seconds,
          label: "Start Time",
          value: @start_value,
          placeholder: "0s",
          style: "width: 100px;",
          data: { action: "sl-input->clipboard#changeValue
                        sl-input->youtube#updateStartTime",
                        "clipboard-target": "startTime",
                        "youtube-target": "startTime" } %>
      <span class="spacer">-</span>
      <%= form.text_field :end_seconds,
          label: "Start Time",
          value: @end_value,
          placeholder: "0s",
          style: "width: 100px;",
          data: { action: "sl-input->clipboard#changeValue
          sl-input->youtube#updateEndTime",
          "clipboard-target": "endTime",
          "youtube-target": "endTime" }  %>
      <span class="spacer">:</span>
      <%= form.select :playback_rate, {  ".25x" => "0.25",
                                          ".5x" => "0.50",
                                          ".75x" => "0.75",
                                          "1x" => "1.0",
                                          "1.25x" => "1.25",
                                          "1.5x" => "1.50",
                                          "1.75x" => "1.75",
                                          "2x" => "2.0" },
                                          {},
                                          { value: printf('%.2f', @playback_rate.to_i),
                                            label: "Rate",
                                            hoist: "",
                                            data: { action: "sl-change->clipboard#changeValue sl-change->youtube#updatePlaybackRate",
                                                            "clipboard-target": "playbackRate",
                                                            "youtube-target": "playbackRate" }} %>
    </div>
    <% if user_signed_in? %>
      <div>
        <%= form.submit class: "primary-button" %>
      </div>
    <% end %>
  </div>
<% end %>
