<h1>Editing clip</h1>
<%= turbo_frame_tag @clip do %>
  <%= render "form", clip: @clip %>
  <br>
  <div class="row">
    <sl-button href="<%= watch_path(v: @clip.video.youtube_id, start: @clip.start_seconds, end: @clip.end_seconds, speed: @clip.playback_rate) %>">
      Show This Clip
    </sl-button>
    <%= button_to "Destroy", video_clip_path(@clip), method: :delete, class: "button button--danger" %>
    <sl-button href="<%=  clips_path %>">
      Back to clips
    </sl-button>
  </div>
<% end %>
