<div class="filter-sorting-container" data-controller="filter">
  <div class="filter-header">
    <div class="filter-container-button-results">
      <%= button_tag type: 'button', data: { action: "click->toggle#toggleFilter",
                                            "toggle-target": "filterButton"},
                                              class: "filter-button" do %>
        <%= fa_icon "filter 2x", left: true %>Filter
      <% end %>
      <div id="filter_results">
        <% if filtering_params.present? %>
          <%= "#{pluralize(number_with_delimiter(@search.videos.size), "Result")} Found" %>
        <% end %>
      </div>
    </div>
    <%= link_to "Clear", root_path, class: "filter-clear-button" %>
  </div>
  <div class="filter-container" data-toggle-target="filter" id="filter-container">
    <%= turbo_frame_tag 'slow-frame', class: "filter-container-upper" do %>
      <%= render partial: "videos/index/filter", locals: { options: @search.genres, title: :genre, id: 'genre-filter', width: "150px" } %>
      <%= render partial: "videos/index/filter", locals: { options: @search.leaders, title: :leader, id: 'leader-filter', width: "250px" } %>
      <%= render partial: "videos/index/filter", locals: { options: @search.followers, title: :follower, id: 'follower-filter', width: "250px" } %>
      <%= render partial: "videos/index/filter", locals: { options: @search.orchestras, title: :orchestra, id: 'orchestra-filter', width: "200px" } %>
      <%= render partial: "videos/index/filter", locals: { options: @search.years, title: :year, id: 'year-filter', width: "150px" } %>
      <div class="videos-sortable-container">
        <label>
          Sort By
        </label>
        <%= sortable 'videos.upload_date', "desc",  "Recent First", @search %>
        <%= sortable 'videos.upload_date', "asc", "Oldest First", @search %>
        <%= sortable "videos.view_count", "desc",  "Most Viewed", @search %>
        <%= sortable "videos.popularity", "desc",  "Most Popular", @search %>
        <%= sortable "videos.like_count", "desc",  "Most Liked", @search %>
      </div>
      <div class="videos-sortable-container">
        <label>
          Group By
        </label>
        <%= sortable 'songs.title', "asc", "Song", @search %>
        <%= sortable 'songs.last_name_search', "asc",  "Orchestra", @search %>
        <%= sortable 'videos.channel_id', "asc",  "Channel", @search %>
      </div>
        <div class="videos-sortable-container" id="sort-container">
          <label>
            Additional Filters
          </label>
          <% if current_user %>
          <%= button_tag type: "button",
                        class: "videos-sortable-button",
                        data: { controller: "filter",
                        action: "filter#filter",
                                "filter-watched-value": filtering_params["watched"] == "true" ? 0 : "true" } do %>
            <% if filtering_params["watched"] == "true" %>
              <%= content_tag(:b, "Watched") %>
              <%= fa_icon("times", class: "videos-sortable-icon") %>
            <% else %>
              Watched
            <% end %>
          <% end %>
          <%= button_tag type: "button",
                        class: "videos-sortable-button",
                        data: { controller: "filter",
                        action: "filter#filter",
                                "filter-watched-value": filtering_params["watched"] == "false" ? 0 : "false" } do %>
            <% if filtering_params["watched"] == "false" %>
              <%= content_tag(:b, "New To You") %>
              <%= fa_icon("times", class: "videos-sortable-icon") %>
            <% else %>
              New to You
            <% end %>
          <% end %>
        <% end %>
          <%= button_tag type: "button",
                        class: "videos-sortable-button",
                        data: { controller: "filter",
                        action: "filter#filter",
                                "filter-hd-value": filtering_params["hd"] == "1" ? 0 : "1" } do %>
            <% if filtering_params["hd"] == "1" %>
              <%= content_tag(:b, "HD") %>
              <%= fa_icon("times", class: "videos-sortable-icon") %>
            <% else %>
              HD
            <% end %>
          <% end %>
        </div>

    <% end %>
  </div>
</div>
