<div class="filters-section">
  <sl-dropdown stay-open-on-select>
    <sl-button slot="trigger"
      id="button-filter"
      class="white-button"
        <% if filtering_params.present? %>
          outline
        <% end %>>
      Filters
    </sl-button>
  <div style="background-color: var(--sl-color-neutral-50); padding-bottom: 12px;">
    <div id="mobile-filters">
      <%= turbo_frame_tag :filters, src: filters_videos_path(filtering_params) %>
      <sl-divider></sl-divider>
  </div>
  <%= render partial: "videos/index/filter-sorting/filtering" %>
</div>
</sl-dropdown>
<sl-dropdown stay-open-on-select>
  <sl-button slot="trigger"
          id="button-sorting"
          class="white-button"
        <% if sorting_params.present? %>
         outline
        <% end %>>
      Sorting
  </sl-button>
  <div style="background-color: var(--sl-color-neutral-50); padding-bottom: 12px;">
  <sl-menu>
    <%= render partial: "videos/index/filter-sorting/sorting" %>
  </sl-menu>
  </div>
</sl-dropdown>
<div id="desktop-filters">
  <%= turbo_frame_tag "filters", src: filters_videos_path(filtering_params) %>
</div>
<div id="button-clear-all">
  <% if filtering_params.present? || sorting_params.present? %>
    <sl-button variant="danger"
                outline
                data-controller="filter"
                data-action="click->filter#filter"
      data-filter-clear-value= "1"
      id="button-clear-all">
      Clear All
    </sl-button>
  <% end %>
</div>
<% if current_user.try(:admin?) && filtering_params.has_key?(:channel) && Channel.find_by(channel_id: filtering_params[:channel]).active? %>
  <form action="<%=  channel_deactivate_path(filtering_params[:channel]) %>" method="post" data-turbo="false">
    <sl-button type="submit"
                variant="danger"
                outline>
      Deactivate
    </sl-button>
  </form>
<% end %>
</div>
