<div class="filters" id="filters">
  <sl-dropdown stay-open-on-select>
    <sl-button slot="trigger"
      id="button-filter"
      class="white-button"
        <% if filtering_params.present? %>
          outline
        <% end %>>
      Filters
    </sl-button>
    <sl-menu style="background-color: var(--sl-color-neutral-50);">
      <%= turbo_frame_tag "filters", src: filters_videos_path %>
    <sl-divider style="margin:12px 0;"></sl-divider>
    <sl-menu-label>Additional Filters</sl-menu-label>
    <div id="menu-additional-filters">
      <% if current_user %>
        <%= button_tag type: "button",
                          class: "additional-filters-button",
                          data: { controller: "filter",
                          action: "filter#filter",
                                  "filter-watched-value": filtering_params["watched"] == "true" ? 0 : "true" } do %>
          <% if filtering_params["watched"] == "true" %>
            <%= content_tag(:b, "Watched") %>
            <%= fa_icon("times", class: "videos-sortable-icon") %>
          <% else %>
            Watched
          <% end %>
        <% end %>
        <%= button_tag type: "button",
                        class: "additional-filters-button",
                        data:  {controller: "filter",
                        action: "filter#filter",
                                "filter-liked-value": filtering_params["liked"] == "true" ? 0 : "true" } do %>
          <% if filtering_params["liked"] == "true" %>
            <%= content_tag(:b, "Liked") %>
            <%= fa_icon("times", class: "videos-sortable-icon") %>
          <% else %>
            Liked
          <% end %>
        <% end %>
        <%= button_tag type: "button",
                          class: "additional-filters-button",
                          data: { controller: "filter",
                          action: "filter#filter",
                                  "filter-watched-value": filtering_params["watched"] == "false" ? 0 : "false" } do %>
          <% if filtering_params["watched"] == "false" %>
            <%= content_tag(:b, "New To You") %>
            <%= fa_icon("times", class: "videos-sortable-icon") %>
          <% else %>
            New to You
          <% end %>
        <% end %>
      <% end %>
      <%= button_tag type: "button",
                        class: "additional-filters-button",
                        data: { controller: "filter",
                        action: "filter#filter",
                                "filter-hd-value": filtering_params["hd"] == "true" ? 0 : "true" } do %>
        <% if filtering_params["hd"] == "true" %>
          <%= content_tag(:b, "HD") %>
          <%= fa_icon("times", class: "videos-sortable-icon") %>
        <% else %>
          HD
        <% end %>
      <% end %>
      <%= button_tag type: "button",
                        class: "additional-filters-button",
                        data: { controller: "filter",
                        action: "filter#filter",
                                "filter-dancer-value": filtering_params["dancer"] == "true" ? 0 : "true" } do %>
        <% if filtering_params["dancer"] == "true" %>
          <%= content_tag(:b, "With Dancer") %>
          <%= fa_icon("times", class: "videos-sortable-icon") %>
        <% else %>
          With Dancer
        <% end %>
      <% end %>
    </div>
  </sl-menu>
</sl-dropdown>
<sl-dropdown stay-open-on-select>
  <sl-button slot="trigger"
          id="button-sorting"
          class="white-button"

        <% if sorting_params.present? %>
         outline
        <% end %>>
      Sorting
    </sl-button>
    <sl-menu>
      <div id="menu-sorting-filters">
        <sl-menu-label>Sort By</sl-menu-label>
        <sl-menu-item>
          <%= sortable 'date', "desc",  "Recent First", @sort_column, @sort_direction %>
        </sl-menu-item>
    <sl-menu-item>
      <%= sortable 'date', "asc", "Oldest First", @sort_column, @sort_direction %>
    </sl-menu-item>
    <sl-menu-item>
      <%= sortable "view_count", "desc",  "Most Viewed", @sort_column, @sort_direction %>
    </sl-menu-item>
    <sl-menu-item>
      <%= sortable "popularity", "desc",  "Trending", @sort_column, @sort_direction %>
    </sl-menu-item>
    <sl-menu-item>
      <%= sortable "like_count", "desc",  "Most Liked", @sort_column, @sort_direction %>
    </sl-menu-item>
    <sl-menu-label>Group By</sl-menu-label>
    <sl-menu-item>
      <%= sortable 'song_title', "asc", "Song", @sort_column, @sort_direction %>
    </sl-menu-item>
    <sl-menu-item>
      <%= sortable 'orchestra', "asc",  "Orchestra", @sort_column, @sort_direction %>
    </sl-menu-item>
    <sl-menu-item>
      <%= sortable 'channel_title', "asc",  "Channel", @sort_column, @sort_direction %>
    </sl-menu-item>
  </div>
</sl-menu>
</sl-dropdown>
<div id="button-clear-all">
  <% if filtering_params.present? || sorting_params.present? %>
    <sl-button variant="danger"
                outline
                data-controller="filter"
                data-action="click->filter#filter"
      data-filter-clear-value= "1"
      id="button-clear-all">
      Clear All
    </sl-button>
  <% end %>
</div>
<% if is_an_admin? && filtering_params.has_key?(:channel) && Channel.find_by(channel_id: filtering_params[:channel]).active? %>
  <form action="<%=  channel_deactivate_path(filtering_params[:channel]) %>" method="post" data-turbo="false">
    <sl-button type="submit"
                variant="danger"
                outline>
      Deactivate
    </sl-button>
  </form>
<% end %>
</div>
