<div class="videos">
  <% if @page == 1 %>
    <h3 style="margin:0px;">
      <%= videos_header(filtering_params, sorting_params) %>
    </h3>
  <% end %>
  <% if @search_most_recent.present? %>
    <button name="button"
          type="button"
          data-controller="filter"
          data-action="filter#filter"
          data-filter-sort-value="videos.performance_date"
          data-filter-direction-value="desc"
          class="videos-sortable-button">
      <h2 style="margin:0px;">Most Recent</h2>
    </button>
    <div class="video-section">
      <% @search_most_recent.paginated_row.each do |video| %>
        <%= render partial: "videos/index/videos/video", locals: { video: video } %>
      <% end %>
    </div>
  <% end %>
  <% if @search_oldest.present? %>
    <button name="button"
          type="button"
          data-controller="filter"
          data-action="filter#filter"
          data-filter-sort-value="videos.performance_date"
          data-filter-direction-value="asc"
          class="videos-sortable-button">
      <h2 style="margin:0px;">Oldest</h2>
    </button>
    <div class="video-section">
      <% @search_oldest.paginated_row.each do |video| %>
        <%= render partial: "videos/index/videos/video", locals: { video: video } %>
      <% end %>
    </div>
  <% end %>
  <% if @search_most_popular_new_to_you.present? %>
    <% if @search_most_popular_new_to_you.paginated_row.present? %>
      <button name="button"
            type="button"
            class="videos-sortable-button"
            data-controller="filter"
            data-action="filter#filter"
            data-filter-watched-value="false">
        <h2 style="margin:0px;">New To You</h2>
      </button>
      <div class="video-section">
        <% @search_most_popular_new_to_you.paginated_row.each do |video| %>
          <%= render partial: "videos/index/videos/video", locals: { video: video } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% if @search_most_popular_watched.present? %>
    <% if @search_most_popular_watched.paginated_row.present? %>
      <button name="button"
            type="button"
            class="videos-sortable-button"
            data-controller="filter"
            data-action="filter#filter"
            data-filter-watched-value="true">
        <h2 style="margin:0px;">Watched</h2>
      </button>
      <div class="video-section">
        <% @search_most_popular_watched.paginated_row.each do |video| %>
          <%= render partial: "videos/index/videos/video", locals: { video: video } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="video-section">
    <% @search.paginated_videos.each do |video| %>
      <%= render partial: "videos/index/videos/video", locals: { video: video } %>
    <% end %>
  </div>
</div>
