<% if @search_most_recent.present? %>
  <div style="border-bottom: 1px solid #c2c2c2;">
    <%= render "videos/index/videos/section/header", sort_value: "videos.performance_date", direction_value: "asc", title: "Most Recent" %>
    <%= render "videos/index/videos/section", videos: @search_most_recent %>
    <%= render "videos/index/videos/section/link", sort_value: "videos.performance_date", direction_value: "asc", title: "Most Recent" %>
  </div>
<% end %>
<% if @search_oldest.present? %>
  <%= render "videos/index/videos/section/header", sort_value: "videos.performance_date", direction_value: "desc", title: "Oldest" %>
  <%= render "videos/index/videos/section", videos: @search_oldest %>
  <%= render "videos/index/videos/section/link", sort_value: "videos.performance_date", direction_value: "desc", title: "Oldest" %>
<% end %>
<% if user_signed_in? %>
  <% if @search_most_popular_new_to_you.present? %>
    <% if @search_most_popular_new_to_you.paginated_row.present? %>
      <%= render "videos/index/videos/section/header", watched_value: "false", title: "New To You" %>
      <%= render "videos/index/videos/section", videos: @search_most_popular_new_to_you %>
      <%= render "videos/index/videos/section/link", watched_value: "false", title: "New To You" %>
    <% end %>
  <% end %>
  <% if @search_most_popular_watched.present? %>
    <% if @search_most_popular_watched.paginated_row.present? %>
      <%= render "videos/index/videos/section/header", watched_value: "true", title: "Previously Seen" %>
      <%= render "videos/index/videos/section", videos: @search_most_popular_watched %>
      <%= render "videos/index/videos/section/link", watched_value: "true", title: "Previously Seen" %>
    <% end %>
  <% end %>
<% end %>
<div class="video-section">
  <% @search.paginated_videos.each do |video| %>
    <%= render partial: "videos/index/videos/section/videos/video", locals: { video: video } %>
  <% end %>
</div>
