<%= form_with model: @video, url: video_path(video.youtube_id), method: :patch  do |f| %>
  <div class="video-info-details-main">
    <div class="detail-section-label">
      <h4>Performers</h4>
    </div>
    <%= render partial: "videos/edit/video_info_detail_item_edit",
                  locals: { params_name: :leader_id,
                            id: 'leader',
                            f: f,
                            url: '/leaders.json',
                            value: [video&.leaders.first&.name, video&.leaders.first
&.id] } %>
    <%= render partial: "videos/edit/video_info_detail_item_edit",
                  locals: { params_name: :follower_id,
                            id: 'follower',
                            f: f,
                            url: '/followers.json',
                            value: [video&.follower.first&.name, video&.leaders.first&.id] } %>
    <div class="detail-section-label">
      <h4>Event Info</h4>
    </div>
    <%= render partial: "videos/edit/video_info_detail_item_edit",
                  locals: { params_name: :event_id,
                            id: 'event',
                            f: f,
                            url: '/events.json',
                            value: [video&.event&.title, video&.event&.id] } %>
    <div class="attribute-row">
      <div class="attribute-label">
        <label>
          Performance Date
        </label>
      </div>
      <div class="attribute-value" style="display: flex; flex-direction: column; gap: 10px;">
        <%= f.date_field(:performance_date, selected: video.performance_date ) %>
      </div>
    </div>
    <div class="attribute-row">
      <div class="attribute-label">
        <label>
          Performance Number
        </label>
      </div>
      <div class="attribute-value">
        <%= f.select(:performance_number, (1..8), { value: video.performance_number, prompt: "Select Performance Number" }, "data-controller": "tom-select") %>
      </div>
    </div>
    <div class="attribute-row">
      <div class="attribute-label">
        <label>
          Performance Total Number
        </label>
      </div>
      <div class="attribute-value">
        <%= f.select(:performance_total_number, (1..8), { value: video.performance_total_number, prompt: "Select Total Number of Performance" }, "data-controller": "tom-select") %>
      </div>
    </div>
    <h4>Music</h4>
  </div>
  <%= render partial: "videos/edit/video_info_detail_item_edit",
                        locals: { params_name: :song_id,
                                  id: 'song',
                                  f: f,
                                  url: '/songs.json',
                                  value: [video&.song&.full_title, video&.song&.id] } %>
  <div>
    <%= f.label 'hidden?' %>
    <%= f.check_box :hidden, {}, "true", "false" %>
  </div>
  <div style="display: flex; gap: 10px; align-items: center; margin: 10px 0; font-size: 14px;">
    <%= f.submit 'Update Video' %>
    <%= link_to 'Back', watch_path(v: video.youtube_id), style: "font-size: 14px;" %>
  </div>
<% end %>
