<%= turbo_stream.append "video-section" do %>
  <%= render partial: "video", collection: @videos %>
<% end %>
<%= turbo_stream.update "next_link" do %>
  <% if @pagy.next %>
    <form action="<%= pagy_url_for(@pagy, @pagy.next) %>" method="post">
      <sl-button type="submit" data-controller= "autoclick" hidden></sl-button>
    </form>
    <sl-spinner style="font-size: 50px; --track-width: 5px;"></sl-spinner>
  <% else %>
    <span><%= "Displaying #{@pagy.count} Results" %></span>
  <% end %>
<% end %>
