<%= turbo_frame_tag "banner", src: banner_path if session[:banner_closed].nil? %>
<div class="index-container">
  <%= render "videos/index/filters" %>
  <%= render "videos/index/videos/header" %>
  <div id="videos">
    <% if @featured_videos.present? %>
      <div class="video-section">
        <%= render "videos/index/videos/section/header", title: "Featured" %>
        <div class="video-section__videos">
          <%= cache "featured_videos_#{rand(1...5)}", expires_in: 10.minutes do %>
            <%= render partial: "video", collection: @featured_videos %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="video-section">
      <% if @featured_videos.present? %>
        <%= render "videos/index/videos/section/header", title: "Trending" %>
      <% end %>
      <div class="video-section__videos" id="results">
        <%= render partial: "video", collection: @videos %>
      </div>
    </div>
  </div>
  <div class="next-link" id="next_link">
    <% if @pagy.next %>
      <form action="<%= pagy_url_for(@pagy, @pagy.next) %>" method="post">
        <button type="submit" data-controller="autoclick"></button>
      </form>
      <sl-spinner style="font-size: 50px; --track-width: 5px; --indicator-color: var(--sl-color-red-400"></sl-spinner>
    <% end %>
  </div>
</div>
