<div class="index-container">
  <%= render "videos/index/filters" %>
  <%= render "videos/index/videos/header" %>
  <% if !user_signed_in? %>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" style="display: flex; align-items: center; flex-direction: column;">
          <h2>TangoTube</h2>
          <h4>A Video Platform for dancers, by dancers.</h4>
          <h5 style="margin: 3px; font-weight: 400; color">Login to access all features</h5>
          <div class="row" style="gap: 10px; padding-top: 10px;">
            <%= button_to "Login", new_user_session_path, method: :get, class:'button'  %>
            <%= button_to "Sign up", new_user_registration_path, method: :get, class: "button button--submit", id: 'sign-up' %>
          </div>
        </div>
        <div class="swiper-slide" style="display: flex; align-items: center; flex-direction: column;">
          <h2>Discover More</h2>
          <h4>Powerful filters which allow you to search for performances to specific orchestras, different dance partners, and much more!</h4>
        </div>
        <div class="swiper-slide" style="display: flex; align-items: center; flex-direction: column;">
          <h2>Know what the songs are about</h2>
          <h4>Every songs lyrics are translated in English, even if you don't understand Spanish you can now learn what the songs are about.</h4>
        </div>
        <div class="swiper-slide" style="display: flex; align-items: center; flex-direction: column;">
          <h2>Know who's playing</h2>
          <h4>Tangotube identifies the song and provides info like author, singer, composer, orchestra, and recording date.
          </h4>
        </div>
        <div class="swiper-slide" style="display: flex; align-items: center; flex-direction: column;">
          <h2>Look back in history</h2>
          <h4>The “Oldest First” filter allows you to see the very first videos from your favorite dancers.</h4>
        </div>
        <div class="swiper-slide" style="display: flex; align-items: center; flex-direction: column;">
          <h2>Fresh videos</h2>
          <h4>The “New To You” filter shows only videos which you haven't seen yet.</h4>
        </div>
        <div class="swiper-slide" style="display: flex; align-items: center; flex-direction: column;">
          <h2>Find Videos Easily </h2>
          <h4>All the relevant information like Performer Names, Song Info (title, orchestra, genre), Event, are already included in the video title. You never have to guess a video by its thumbnail again! </h4>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  <% end %>
  <div id="videos">
    <% if @videos_most_recent.present? %>
      <%#= render partial: "videos/index/videos/section", locals: { videos: @videos_most_recent, section_title: "Most Recent", sort_value: "year", direction_value: "desc" } %>
    <% end %>
    <% if @videos_oldest.present? %>
      <%#= render partial: "videos/index/videos/section", locals: { videos: @videos_oldest, section_title: "Oldest", sort_value: "year", direction_value: "asc" } %>
    <% end %>
    <% if @videos_most_viewed.present? %>
      <%#= render partial: "videos/index/videos/section", locals: { videos: @videos_most_viewed, section_title: "Most Viewed", sort_value: "view_count", direction_value: "desc" } %>
    <% end %>
    <div class="video-section">
      <div class="video-section__videos" id="results">
        <%= render @videos %>
      </div>
    </div>
  </div>
  <div id="next_link" style="display: flex; align-items: center; flex-direction: column; padding: 30px 0px;">
    <% if @pagy.next %>
      <form action="<%= pagy_url_for(@pagy, @pagy.next) %>" method="post">
        <button type="submit" data-controller="autoclick"></button>
      </form>
      <sl-spinner style="font-size: 50px; --track-width: 5px;"></sl-spinner>
    <% end %>
  </div>
</div>
