<%= render "videos/index/filters" %>
<%= render "videos/index/videos/header" %>
<div class="videos" id="videos">
  <%= turbo_frame_tag "videos-#{@page}" do %>
    <%= render "videos/index/videos" %>
    <%= turbo_frame_tag "videos-#{@page + 1}" do %>
      <%= render "videos/index/load_more" %>
    <% end %>
  <% end %>
</div>
