  <% cache "video_show_#{@video.youtube_id}_user_#{current_user.id}", expires_in: 24.hours do %>
  <% content_for :meta_title, "#{primary_title(@video.display.dancer_names,
                                              @video.title,
                                              @video.display.any_song_attributes,
                                              @video.youtube_id)}" %>
  <% content_for :meta_description,  "#{@video.display.any_song_attributes}" %>
  <% content_for :meta_image, "https://img.youtube.com/vi/#{@video.youtube_id}/hqdefault.jpg" %>
  <div data-controller="hotkeys" data-hotkeys-bindings-value='{
  "space": "#hotkey->youtube#playPause",
    "shift + 1": "#hotkey->youtube#setTime1",
    "shift + 2": "#hotkey->youtube#setTime2",
    "backspace": "#hotkey->youtube#reset",
    "m": "#hotkey->youtube#toggleMute",
    "+": "#hotkey->youtube#increaseVolume",
    "-": "#hotkey->youtube#decreaseVolume",
    "f": "#hotkey->youtube#playFullscreen ",
    "left": "#hotkey->youtube#seekBackward",
    "right": "#hotkey->youtube#seekForward",
    "shift + . ": "#hotkey->youtube#increasePlaybackRate",
    "shift + , ": "#hotkey->youtube#decreasePlaybackRate"}'></div>
  <div style="width: 100%; "id="hotkey" data-controller="youtube"
            data-youtube-video-id-value="<%= @video.youtube_id %>"
  data-youtube-start-seconds-value="<%= @start_value %>"
  data-youtube-end-seconds-value="<%= @end_value %>"
  data-youtube-playback-rate-value="<%= @playback_rate %>">
    <div class="video-responsive-background">
      <div class="video-responsive-container">
        <div class="video-responsive"
        >
          <div data-youtube-target="frame"></div>
        </div>
      </div>
    </div>
    <div class="video-info-container">
      <%= render partial: "videos/show/video_info_primary" %>
      <div class="video-info-container-secondary">
        <div class="video-info-details-main">
          <%= render partial: "videos/show/video_info_details" %>
          <div class="container">
            <h3 style="margin-top: 10px; margin-bottom: 10px;">Comments</h3>
            <div id="comments">
              <% if user_signed_in? %>
                <%= render partial: "comments/form", locals: { commentable: @video } %>
                <% if params[:comment] %>
                  <p>Single comment thread. <%= link_to "View all comments", url_for() %></p>
                <% end %>
              <% else %>
                <div style="margin-bottom: 16px; font-size: 12px;">
                  <%= link_to "Sign up",  new_user_registration_path, style: "font-size: 0.8rem", 'data-turbo-frame': "_top" %> or <%= link_to "Login", new_user_session_path, style: "font-size: 12px;", 'data-turbo-frame': "_top" %> to reply
                </div>
              <% end %>
              <%= render @comments, continue_thread: 5 %>
            </div>
          </div>
        </div>
        <% if @video.song.present? %>
          <%= render partial: "videos/show/lyrics" if @video.song.lyrics.present? %>
        <% end %>
        <div class="recommended-videos-section">
          <% unless @videos_from_this_performance.empty? %>
            <div class="recommended-videos-card" data-toggle-target="recommendedPerformanceVideos">
              <div class="recommended-videos__header">
                <h2>Videos from this Performance</h2>
              </div>
              <%= render partial: "videos/show/recommended_videos", locals: { videos: @videos_from_this_performance } %>
            </div>
            <% if @videos_from_this_performance.size > 3 %>
              <div class="show-more-container">
                <%= button_tag type: "button",
                              class: "button",
                              style: "width: 100%;",
                              data: { action: "toggle#toggleRecommendedPerformanceVideos" } do %>
                  <%= fa_icon "angle-down", data: { 'toggle-target': "recommendedPerformanceVideosDownButton" } %>
                  <%= fa_icon "angle-up", class: "isHidden", data: { 'toggle-target': "recommendedPerformanceVideosUpButton" } %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% unless @videos_with_same_dancers.empty? %>
            <div class="recommended-videos-card" data-toggle-target="recommendedEventVideos">
              <div class="recommended-videos__header">
                <h2>Videos from <%= @video.leader.name.titleize %> & <%= @video.follower.name.titleize %></h2>
              </div>
              <%= render partial: "videos/show/recommended_videos", locals: { videos: @videos_with_same_dancers } %>
            </div>
            <% if @videos_with_same_dancers.size > 3 %>
              <div class="show-more-container">
                <%= button_tag type: "button",
                              class: "button",
                              style: "width: 100%;",
                              data: { action: "toggle#toggleRecommendedEventVideos" } do %>
                  <%= fa_icon "angle-down", data: { 'toggle-target': "recommendedEventVideosDownButton" } %>
                  <%= fa_icon "angle-up", class: "isHidden", data: { 'toggle-target': "recommendedEventVideosUpButton" } %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% unless @videos_with_same_event.empty? %>
            <div class="recommended-videos-card" data-toggle-target="recommendedEventVideos">
              <div class="recommended-videos__header">
                <h2>Videos from <%= @video.event.title %></h2>
              </div>
              <%= render partial: "videos/show/recommended_videos", locals: { videos: @videos_with_same_event } %>
            </div>
            <% if @videos_with_same_event.size > 3 %>
              <div class="show-more-container">
                <%= button_tag type: "button",
                              class: "button",
                              style: "width: 100%;",
                              data: { action: "toggle#toggleRecommendedEventVideos" } do %>
                  <%= fa_icon "angle-down", data: { 'toggle-target': "recommendedEventVideosDownButton" } %>
                  <%= fa_icon "angle-up", class: "isHidden", data: { 'toggle-target': "recommendedEventVideosUpButton" } %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% unless @videos_with_same_song.empty? %>
            <div class="recommended-videos-card" data-toggle-target="recommendedSongVideos">
              <div class="recommended-videos__header">
                <h2>Videos with <br>
                  <i>"<%= @video.song.title.titleize %>" &nbsp;</i><%= "by #{@video.song.artist.titleize}" %></h2>
              </div>
              <%= render partial: "videos/show/recommended_videos", locals: { videos: @videos_with_same_song } %>
            </div>
            <% if @videos_with_same_song.size > 3 %>
              <div class="show-more-container">
                <%= button_tag type: "button",
                              class: "button",
                              style: "width: 100%;",
                              data: { action: "toggle#toggleRecommendedSongVideos" } do %>
                  <%= fa_icon "angle-down", data: { 'toggle-target': "recommendedSongVideosDownButton" } %>
                  <%= fa_icon "angle-up", class: "isHidden", data: { 'toggle-target': "recommendedSongVideosUpButton" } %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% unless @videos_with_same_channel.empty? %>
            <div class="recommended-videos-card" data-toggle-target="recommendedChannelVideos">
              <div class="recommended-videos__header">
                <h2>Videos from <%= @video.channel.title %></h2>
              </div>
              <%= render partial: "videos/show/recommended_videos", locals: { videos: @videos_with_same_channel } %>
            </div>
            <% if @videos_with_same_channel.size > 3 %>
              <div class="show-more-container">
                <%= button_tag type: "button",
                              class: "button",
                              style: "width: 100%;",
                              data: { action: "toggle#toggleRecommendedChannelVideos" } do %>
                  <%= fa_icon "angle-down", data: { 'toggle-target': "recommendedChannelVideosDownButton" } %>
                  <%= fa_icon "angle-up", class: "isHidden", data: { 'toggle-target': "recommendedChannelVideosUpButton" } %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
