<footer class="footer">
  <nav class="footer-nav">
    <ul class="primary-links">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Billing", billing_path %></li>
      <li><%= button_to "Become A Supporter", checkout_path, method: :get, class: "button button--submit" %></li>
    </ul>
    <ul class="secondary-links">
      <li><%= link_to "Privacy Policy", privacy_path, class: "link-secondary" %></li>
      <li><%= link_to "Terms of Service", terms_path, class: "link-secondary" %></li>
      <li><%= link_to "G​oogle Privacy Policy", "http://www.google.com/policies/privacy", class: "link-secondary" %></li>
    </ul>
    <div class="footerTitle">
      <span style="font-weight: 600">TangoTubeTV</span><br />
      <span style="font-size: 10px;">Powered by Youtube API</span>
    </div>
  </nav>
</footer>
