<footer class="footer">
  <div class="footer__inner">
    <div class="footer__section">
      <span>&copy; TangoTube</span>
      <%= link_to "Privacy", privacy_path, class: "link-secondary" %>
      <span aria-hidden="true">·</span>
      <%= link_to "Terms", terms_path, class: "link-secondary" %>
      <span aria-hidden="true">·</span>
      <%= link_to "G​oogle Privacy Policy", "http://www.google.com/policies/privacy", class: "link-secondary" %>
    </div>
    <div class="footer__section">
      <%= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "Billing", billing_path %>
      <sl-button  href="%<= checkout_path %>" variant="danger" size="small" outline pill>Become A Supporter</sl-button>
    </div>
  </div>
</footer>
