<div id="mastHeadContainer">
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <div class="upperHeadContainer sm:hidden">
        <div class="add_links">
          <%= link_to "Add Leader", leaders_path %>
          <%= link_to "Add Follower", followers_path %>
          <%= link_to "Add Event", events_path %>
          <%= link_to "Add Channel", channels_path %>
          <%= link_to "Add Playlist", playlists_path %>
          <%= link_to "Add Video", new_video_path %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="lowerHeadContainer">
    <div class="logoContainer">
      <%= link_to "TangoTube", root_path %>
    </div>
    <div class="autocompleteContainer" data-controller="combobox">
      <%= form_with url: root_path,
        method: :get,
        class: "searchBarContainer",
        data: { controller: "form",
                    action: "invalid->form#hideValidationMessage:capture",
                    "form-url": search_search_suggestions_path } do |f| %>
        <%= f.search_field :query, class: "searchBar",
                                  value: params[:query],
                                  placeholder: "Search #{number_with_delimiter(@videos_total)} videos...",
                                  autocomplete:"off",
                                  spellcheck:"false",
                                  data: { action: "focus->combobox#start
                                                   input->form#submit",
                                          "combobox-target": "input",
                                          "form-target": "input" } %>
        <%= f.button fa_icon("search"), name: nil, type: 'submit', class: "searchButton" %>
        <div id="search_results" target="_top" data-combobox-target="window" class="isHidden" data-action="click@window->combobox#stop">
          <ul role="listbox" data-combobox-target="list"></ul>
        </div>
      <% end %>
    </div>
    <div class="flex-1 flex justify-end items-center">
      <div data-controller="dropdown" class="relative">
        <% if user_signed_in? %>
          <div>
            <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid">
              <%= image_tag avatar_url_for(current_user, opts = {}), size: "30x30", class: "h-8 w-8 rounded-full" %>
            </button>
          </div>
        <% else %>
          <span class="inline-flex rounded-md shadow-xs">
            <%= link_to "Login", new_user_session_path, class:'inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-red-600 bg-white hover:bg-gray-50 hover:text-red-600 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out'  %>
          </span>
          <%= link_to "Sign up", new_user_registration_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 hover:text-white focus:outline-none focus:shadow-outline transition duration-150 ease-in-out", id: 'sign-up' %>
        <% end %>
        <div
          data-dropdown-target="menu"
          data-transition-enter-from="opacity-0 scale-95"
          data-transition-enter-to="opacity-100 scale-100"
          data-transition-leave-from="opacity-100 scale-100"
          data-transition-leave-to="opacity-0 scale-95"
          class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg z-50"
        >
          <div class="py-1 rounded-md bg-white shadow-xs">
            <% if user_signed_in? %>
              <%= link_to 'Edit profile', edit_user_registration_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
              <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'w-full inline-flex items-start block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
