<sl-drawer no-header placement="start" id="drawer-placement-left" style="--size: 240px;" data-drawer-target="drawer">
  <nav style="margin: -20px;" data-controller="dark-mode">
    <div class="row" style="margin-left: 20px; gap: 10px; height: 60px; align-items: center; color: var(--sl-color-gray-800); cursor: pointer;">
      <sl-icon class="cursor-pointer" style="font-size: 20px; color: var(--sl-color-gray-800);" name="list" data-action="click->drawer#hide"></sl-icon>
      <%= link_to root_path do %>
        <h3>TangoTube</h3>
      <% end %>
    </div>
    <sl-divider style="margin-bottom: 16px"></sl-divider>
    <sl-switch style="margin: 12px 0 12px 25px;" data-dark-mode-target="switch" data-action="sl-change->dark-mode#toggle">
      Dark Mode
    </sl-switch>
    <sl-dropdown>
      <sl-menu-item slot="trigger">
        Dark Mode
      </sl-menu-item>
      <sl-menu>
        <sl-menu-item>Light</sl-menu-item>
        <sl-menu-item>Dark</sl-menu-item>
        <sl-menu-item>Auto</sl-menu-item>
      </sl-menu>
    </sl-dropdown>
    <sl-divider style="margin:16px 0"></sl-divider>
    <%= link_to root_path do %>
      <sl-menu-item>
        <%= fa_icon("home") %>
        <span>Home</span>
      </sl-menu-item>
    <% end %>
    <%= link_to clips_path do %>
      <sl-menu-item>
        <%= fa_icon("scissors") %>
        <span>Global Clips</span>
      </sl-menu-item>
    <% end %>
    <sl-divider style="margin:16px 0"></sl-divider>
    <% if user_signed_in? %>
      <%= link_to root_path(watched: false) do %>
        <sl-menu-item>
          <%= fa_icon("compass") %>
          <span>Explore</span>
        </sl-menu-item>
      <% end %>
      <%= link_to root_path(watched: true) do %>
        <sl-menu-item>
          <%= fa_icon("clock") %>
          <span>History</span>
        </sl-menu-item>
      <% end %>
      <%= link_to root_path(liked: true) do %>
        <sl-menu-item>
          <%= fa_icon("thumbs-up") %>
          <span>Liked Videos</span>
        </sl-menu-item>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <sl-menu-item>
          <span>Login</span>
        </sl-menu-item>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <sl-menu-item>
          <span>Sign Up</span>
        </sl-menu-item>
      <% end %>
    <% end %>
  </nav>
</sl-drawer>
<%#= link_to fa_icon("book"), "#" do %>
  <%# <span>Library</span> %>
  <%# <% end %>
  <%#= link_to fa_icon("scissors"), "#" do %>
    <%# <span>Your Clips</span> %>
    <%# <% end %>
    <%#= link_to fa_icon("rocket"), "#" do %>
      <%# <span>Subscriptions</span> %>
      <%# <% end %>
