<sl-drawer no-header
          placement="start"
          id="drawer-placement-left"
          class="drawer"
          style="--size: 240px; --body-spacing: 0;"
          data-drawer-target="drawer">
  <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100vh;">
    <div>
      <div class="row" style="margin-left: 20px; gap: 10px; height: 56px; align-items: center; color: var(--sl-color-gray-800); cursor: pointer;">
        <sl-icon class="cursor-pointer" style="font-size: 20px; color: var(--sl-color-gray-800);" name="list" data-action="click->drawer#hide"></sl-icon>
        <%= link_to root_path do %>
          <h3>TangoTube</h3>
        <% end %>
      </div>
      <nav>
        <sl-divider style="margin: 0; margin-bottom: 16px;"></sl-divider>
        <%= link_to root_path do %>
          <sl-menu-item class="white-menu-item"
            <% if current_page?(root_path, check_parameters: true) %>
              checked
          <% end %>
          >
            <%= fa_icon("home") %>
            <span>Home</span>
          </sl-menu-item>
        <% end %>
        <%= link_to clips_path do %>
          <sl-menu-item class="white-menu-item"
          <% if current_page?(clips_path) %>
          checked
        <% end %>
        >
            <%= fa_icon("scissors") %>
            <span>Clips</span>
          </sl-menu-item>
        <% end %>
        <sl-divider style="margin:16px 0;"></sl-divider>
        <% if user_signed_in? %>
          <%= link_to root_path(watched: false) do %>
            <sl-menu-item class="white-menu-item"
          <% if current_page?(root_path(watched: false)) %>
          checked
          <% end %>
          >
              <%= fa_icon("compass") %>
              <span>Explore</span>
            </sl-menu-item>
          <% end %>
          <%= link_to root_path(watched: true) do %>
            <sl-menu-item class="white-menu-item"
          <% if current_page?(root_path(watched: true)) %>
          checked
          <% end %>
          >
              <%= fa_icon("clock") %>
              <span>History</span>
            </sl-menu-item>
          <% end %>
          <%= link_to root_path(liked: true) do %>
            <sl-menu-item class="white-menu-item"
          <% if current_page?(root_path(liked: true)) %>
          checked
          <% end %>
          >
              <%= fa_icon("thumbs-up") %>
              <span>Liked Videos</span>
            </sl-menu-item>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <sl-menu-item>
              <span>Login</span>
            </sl-menu-item>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <sl-menu-item>
              <span>Sign Up</span>
            </sl-menu-item>
          <% end %>
        <% end %>
      </nav>
    </div>
  </div>
</sl-drawer>
<%#= link_to fa_icon("book"), "#" do %>
  <%# <span>Library</span> %>
  <%# <% end %>
  <%#= link_to fa_icon("scissors"), "#" do %>
    <%# <span>Your Clips</span> %>
    <%# <% end %>
    <%#= link_to fa_icon("rocket"), "#" do %>
      <%# <span>Subscriptions</span> %>
      <%# <% end %>
