<div class="side">
  <%= link_to fa_icon("home", text: "Home"), root_path, class: "side-item" %>
  <%= link_to fa_icon("scissors", text: "Global Clips"), "#", class: "side-item" %>
  <hr style="width: 100%; color: #c2c2c2;">
  <%= link_to fa_icon("book", text: "Library"), "#", class: "side-item" %>
  <%= link_to fa_icon("clock", text: "History"), "#", class: "side-item" %>
  <%= link_to fa_icon("scissors", text: "Your Clips"), "#", class: "side-item" %>
  <%= link_to fa_icon("thumbs-up", text: "Liked Videos"), "#", class: "side-item" %>
  <%= link_to fa_icon("rocket", text: "Subscriptions"), "#", class: "side-item" %>
</div>
