<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label "Title" %>
  <%= form.text_field :title, value: event.title %>
  <%= form.label "city" %>
  <%= form.text_field :city, value: event.city %>
  <%= form.label "country" %>
  <%= form.text_field :country, value: event.country %>
  <%= form.label "star_date" %>
  <%= form.date_field :start_date, value: event.start_date %>
  <%= form.label "end_date" %>
  <%= form.date_field :end_date, value: event.end_date %>
  <%= form.label "Active" %>
  <%= form.check_box :active, value: event.active %>
  <div>
    <%= form.label :profile_image, class: "label" %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
      <%= form.file_field :profile_image, direct_upload: true, "data-dropzone-target": "input" %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
        <span class="dropzone-msg-desc text-sm">2 MB file size maximum. Allowed file types png, jpg.</span>
      </div>
    </div>
  </div>
  <div>
    <%= form.label :cover_image, class: "label" %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
      <%= form.file_field :cover_image, direct_upload: true, "data-dropzone-target": "input" %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
        <span class="dropzone-msg-desc text-sm">2 MB file size maximum. Allowed file types png, jpg.</span>
      </div>
    </div>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
