<%= form_with(url: events_path, method: :get) do |form| %>
  <%= form.label :q, "Search by event title:" %>
  <div>
    <%= form.text_field :q %>
    <%= form.submit 'Search' %>
  </div>
<% end %>
<%= link_to "New event", new_event_path %>
<h1>Events</h1>
<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
  <% end %>
</div>
<div id="next_link" style="display: flex; align-items: center; flex-direction: column; padding: 30px 0px;">
  <% if @pagy.next %>
    <form action="<%= pagy_url_for(@pagy, @pagy.next) %>" method="post">
      <button type="submit" data-controller="autoclick"></button>
    </form>
    <sl-spinner style="font-size: 50px; --track-width: 5px; --indicator-color: var(--sl-color-red-400"></sl-spinner>
  <% end %>
</div>
