<div class="channels-index-container">
  <h2>All followers</h2>
  <%= form_with model: Follower.new, local: true, class: 'channel-form' do |f| %>
    <%= f.text_field :first_name, placeholder: 'insert first name here...' %>
    <%= f.text_field :last_name, placeholder: 'insert last name here...' %>
    <%= f.submit "Add New follower" %>
  <% end %>
  <% @followers.each do |follower| %>
    <div class="channels-index-row">
      <div class="channels-index-item" id="id">
        <%= follower.id %>
      </div>
      <div class="channels-index-item" id="title">
        <%= follower.full_name.titleize %>
      </div>
    </div>
  <% end %>
</div>
