<sl-card class="dancer__card" id="<%= dom_id dancer %>">
  <%= link_to dancer do %>
    <%= image_tag dancer_avatar(dancer.id), slot: "image" %>
  <% end %>
  <div class="dancer__card__body">
    <div>
      <%= link_to dancer do %>
        <%= dancer.name %>
      <% end %>
    </div>
  </div>
</sl-card>
