<div style="max-width: 1660px; width: 100%;">
  <%= image_tag dancer_cover(@dancer.id), style: "width: 100%; height: 475px; object-fit: cover;" %>
  <div style="position: relative; width: 100%;">
    <div style="padding: 0 16px;">
      <%= image_tag dancer_avatar(@dancer.id), style: "border-radius: 50%; width: 250px; height: 250px; position: absolute; top: -75px; left: 125px;" %>
      <div style=" width: 100%; max-width: 1660px; height: 200px; padding-right: 16px; padding-left: 425px;">
        <h1 style="font-size: 64px;">
          <%= @dancer.name %>
        </h1>
        <div style="display: flex; justify-content: space-between;">
          <%= "#{@dancer.videos_count} Videos" %>
          <% if current_user&.admin? %>
            <sl-dropdown>
              <sl-button slot="trigger">
                <sl-icon slot="prefix" name="three-dots"></sl-icon>
              </sl-button>
              <sl-menu>
                <%= link_to edit_dancer_path(@dancer) do %>
                  <sl-menu-item>Edit</sl-menu-item>
                <% end %>
                <%= button_to @dancer, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } do %>
                  <sl-button variant="danger" outline>Delete</sl-button>
                <% end %>
              </sl-menu>
            </sl-dropdown>
          <% end %>
        </div>
      </div>
      <div style="padding: 32px; 16px; width: 100%; max-width: 1660px;">
        <h1>
          Dance Partners
        </h1>
        <div style="height: 250px; width: 300px; overflow: auto;">
          <% @dancer.couples.order(videos_count: :desc ).each do |couple| %>
            <% partner = couple.partner%>
            <%= link_to partner, style: "display: flex; gap: 16px; align-items: center; padding: 8px 0px;" do %>
              <%= image_tag dancer_avatar(partner.id), style: "border-radius: 50%; width: 32px;" %>
              <%= partner.name %>
              <%= "(#{couple.videos_count})" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="index-container">
        <%= turbo_frame_tag :videos, src: videos_path(dancer: @dancer.name) %>
      </div>
    </div>
  </div>
  <div id="next_link" style="display: flex; align-items: center; flex-direction: column; padding: 30px 0px;">
    <% if @pagy.next %>
      <form action="<%= pagy_url_for(@pagy, @pagy.next) %>" method="post">
        <button type="submit" data-controller="autoclick"></button>
      </form>
      <sl-spinner style="font-size: 50px; --track-width: 5px; --indicator-color: var(--sl-color-red-400"></sl-spinner>
    <% end %>
  </div>
</div>
