<%= turbo_frame_tag "filters" do %>
  <div class="filters">
    <%= render partial: "genre" %>
    <%= render partial: "leader" %>
    <%= render partial: "follower" %>
    <%= render partial: "orchestra" %>
    <%= render partial: "year" %>
  </div>
<% end %>
